body {
  margin: 80px auto 0 auto;
  font-family: "Inter", serif;
}

.main {
  margin: 0 40px;
}

.nav-item a {
  color: white;
}

.nav-item a:hover {
  color: #3b5da5;
}
.header-container,
.product-inventory,
.product-table,
footer {
  margin-bottom: auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.btn {
  background-color: #14213d;
  border: 1px solid #14213d;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 40px;
  width: 120px;
}

.btn:hover {
  background-color: #2b447a;
  border: 1px solid #2b447a;
  transition: all 200ms ease-in-out;
}

#responsive-btn {
  white-space: normal;
}

.product-inventory {
  display: flex;
  justify-content: space-between;
   margin: 10px 0;
}

.total-products {
  margin-right: 40px;
}

.out-of-stock {
  margin-right: auto;
}

.inventory-product-title {
  font-weight: bold;
}

.inventory-product-number {
  font-weight: 600;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.pagination a {
  color: #14213d;
  border: none;
}

.pagination a:hover {
  font-size: 20px;
  transition: all ease-in-out;
}
